{% extends "base/base.html" %}
{%  block style %}
{{ super() }}
<link rel="stylesheet" href="{{ scss_url('menu') }}" type="text/css"/>
{% endblock style %}
{% block main %}
<ul class="media-list">
    {% for list in li %}
        <li class="media">
            <a class="media-left media-middle" href="#">
                <img src="{{ list['low_resolution'] }}" />
            </a>
            <div class="media-body">
                <h1>{{ list['text'][0] }}</h1>
                <h1>{{ list['text'][1] }}</h1>
                <h1>{{ list['text'][2] }}</h1>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock main %}
